/*! Pickup Store v3.0.0 | 2017-08-25 | (c) Vtex Carries powered by Lyracons | vtexcarries.com/license */
@import url(//use.fontawesome.com/bb25e8ba47.css);

.shipping-selected-sla span:nth-child(3), .shipping-selected-sla span:nth-child(4), .vtexcarries, label[for^=seller-1-sla-] .shipping-option-item-text-wrapper .shipping-option-item-sep:nth-child(4), label[for^=seller-1-sla-] .shipping-option-item-text-wrapper .shipping-option-item-time, label[for^=seller-1-sla-][for*=retirosucursalandreani], label[for^=seller-1-sla-][for*=retirosucursal], label[for^=seller-1-sla-][for*=RetiroenSucursaldeAndreani] .shipping-option-item-sep:nth-child(2), label[for^=seller-1-sla-][for*=RetiroenSucursaldeAndreani] .shipping-option-item-value {
	display: none
}
@keyframes pulsate {
	0% {
		transform: scale(.1, .1);
		opacity: 0
	}
	50% {
		opacity: 1
	}
	100% {
		transform: scale(1.2, 1.2);
		opacity: 0
	}
}
@keyframes bounce {
	0% {
		opacity: 0;
		transform: translateY(-2000px) rotate(-45deg)
	}
	60% {
		opacity: 1;
		transform: translateY(30px) rotate(-45deg)
	}
	80% {
		transform: translateY(-10px) rotate(-45deg)
	}
	100% {
		transform: translateY(0) rotate(-45deg)
	}
}
.vtexcarries {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	left: 0;
	font: 400 13px/1.1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	z-index: 9000
}
.vtexcarries>* {
	margin: 0;
	padding: 0;
	outline: 0;
	list-style: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box
}
.vtexcarries .vtexcarries-container {
	width: 100%;
	max-width: 860px;
	height: auto;
	overflow: hidden;
	margin: auto;
	padding: 20px;
	box-sizing: border-box
}
@media (max-width:680px) {
	.vtexcarries .vtexcarries-container {
		width: 100%;
		height: 100%;
		max-width: 100%;
		padding: 0
	}
}
.vtexcarries .vtexcarries-container .vtexcarries-content {
	width: 100%;
	height: 500px;
	overflow: hidden;
	background-color: #fff;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
	padding: 0 20px 20px;
	border-radius: 2px;
	box-sizing: border-box
}
@media (max-width:680px) {
	.vtexcarries .vtexcarries-container .vtexcarries-content {
		width: 100%;
		height: 100%;
		max-width: 100%;
		padding: 0
	}
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-top {
		padding: 0 20px;
		border-bottom: 1px solid #e6e6e6
	}
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-top {
	width: 100%;
	height: auto;
	overflow: hidden;
	box-sizing: border-box
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-top .vtexcarries-title {
	width: calc(100% - 32px);
	height: auto;
	line-height: 60px;
	font-size: 20px;
	float: left;
	margin: 0;
	box-sizing: border-box
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-top .vtexcarries-close {
	width: 32px;
	height: 60px;
	float: left;
	box-sizing: border-box
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-top .vtexcarries-close .close {
	width: 32px;
	height: 32px;
	margin-top: 15px;
	opacity: .3;
	display: block;
	position: relative;
	cursor: pointer
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-top .vtexcarries-close .close:hover {
	opacity: 1
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-top .vtexcarries-close .close:after, .vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-top .vtexcarries-close .close:before {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 23px;
	width: 2px;
	top: 2px;
	background-color: #333
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-top .vtexcarries-close .close:before {
	transform: rotate(45deg)
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-top .vtexcarries-close .close:after {
	transform: rotate(-45deg)
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle {
	box-sizing: border-box
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left {
	width: 50%;
	height: 420px;
	overflow: hidden;
	float: left;
	position: relative;
	box-sizing: border-box
}
@media (max-width:680px) {
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-top .vtexcarries-title {
		font-size: 1em;
		line-height: 1.1;
		padding-top: 15px;
		text-transform: uppercase
	}
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left {
		width: 100%;
		height: calc(100vh - 60px);
		float: none
	}
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .pulse-container {
	display: none
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .pulse-container .pin {
	width: 30px;
	height: 30px;
	border-radius: 50% 50% 50% 0;
	background: green;
	position: absolute;
	transform: rotate(-45deg);
	left: 50%;
	top: 50%;
	margin: -20px 0 0 -20px;
	z-index: 9999
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .pulse-container .pin:after {
	content: "";
	width: 14px;
	height: 14px;
	margin: 8px 0 0 8px;
	background: #fff;
	position: absolute;
	border-radius: 50%
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .pulse-container .pin.bounce {
	animation-name: bounce;
	animation-fill-mode: both;
	animation-duration: 1s
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .pulse-container .pulse {
	background: #f2f2f2;
	border-radius: 50%;
	height: 14px;
	width: 14px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 11px 0 0 -12px;
	transform: rotateX(55deg);
	z-index: 9998
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .pulse-container .pulse:after {
	content: "";
	border-radius: 50%;
	height: 40px;
	width: 40px;
	position: absolute;
	margin: -13px 0 0 -13px;
	animation: pulsate 1s ease-out;
	animation-iteration-count: infinite;
	opacity: 0;
	box-shadow: 0 0 1px 2px green;
	animation-delay: 1.1s
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-states {
	width: 100%;
	height: 40px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-bottom: 1px solid #e6e6e6
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-states .vtexcarries-list-contenedor, .vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-states .vtexcarries-states-title {
	float: left
}
@media (max-width:680px) {
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-states {
		height: 60px;
		padding: 0 20px
	}
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-states .vtexcarries-list-contenedor, .vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-states .vtexcarries-states-title {
		float: none
	}
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-states .vtexcarries-states-title {
	color: grey;
	font-weight: 600;
	font-size: 1em;
	line-height: 25px;
	margin: 0 10px 0 0;
	text-transform: uppercase
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-states .vtexcarries-list-contenedor {
	width: calc(100% - 160px);
	height: 25px;
	overflow: hidden;
	display: inline-block;
	border: 1px solid #e6e6e6;
	position: relative
}
@media (max-width:680px) {
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-states .vtexcarries-list-contenedor {
		width: 100%;
		margin-right: 10px
	}
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-states .vtexcarries-list-contenedor:after {
	width: 25px;
	height: 25px;
	display: inline-block;
	background-color: #FFF;
	content: "\f0dd";
	font-family: FontAwesome;
	position: absolute;
	top: -1px;
	right: 0;
	font-size: 1.3em;
	z-index: 1;
	text-align: center
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-states .vtexcarries-list-contenedor .vtexcarries-list {
	width: 110%;
	height: 23px;
	border: none;
	background-color: transparent;
	font: 400 13px/1.1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	position: relative;
	z-index: 2
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places {
	width: auto;
	height: calc(100% - 40px);
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #e6e6e6;
	border-top: none
}
@media (max-width:680px) {
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places {
		border: none;
		height: calc(100% - 60px)
	}
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-] {
	border-bottom: 1px solid #e6e6e6;
	padding: 15px;
	display: flex;
	align-items: center;
	cursor: pointer;
	box-sizing: border-box
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-]:last-child {
	border-bottom: none
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-].checked {
	background-color: #fcfcfc;
	padding: 10px 15px
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-].checked .info .phones, .vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-].checked .info .time {
	display: block
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-].checked .check {
	background-color: green;
	box-shadow: inset 0 0 0 3px #FFF
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-] .check {
	width: 14px;
	height: 14px;
	border-radius: 100%;
	border: 1px solid #e6e6e6;
	margin-right: 20px;
	background-color: #fff
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-] .info {
	flex: 1;
	box-sizing: border-box
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-] .info .name {
	color: #000;
	font-weight: 600;
	font-size: 1em;
	line-height: 25px;
	margin: 0
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-] .info .address {
	color: grey;
	font-style: normal;
	line-height: normal;
	font-size: 1em;
	margin-bottom: 0
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-] .info .phones, .vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-] .info .time {
	display: none;
	color: green;
	font-style: normal;
	font-size: 1em;
	margin-bottom: 0;
	line-height: 25px
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-] .info .phones [class^=phone-]:before, .vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-] .info .time [class^=phone-]:before {
	content: "/";
	margin: 0 5px
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-] .info .phones .phone-0:before, .vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-left .vtexcarries-places [id^=store-] .info .time .phone-0:before {
	content: " ";
	margin: 0
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right {
	width: 50%;
	height: 420px;
	overflow: hidden;
	float: right;
	position: relative;
	box-sizing: border-box;
	border: 1px solid #e6e6e6
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-back {
	display: none
}
@media (max-width:680px) {
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right {
		width: 100%;
		height: calc(100vh - 60px);
		float: none;
		display: none;
		border: none
	}
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-back {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background: #fff;
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 9999;
		cursor: pointer;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
		text-align: center;
		display: block;
		box-sizing: border-box
	}
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-back i {
		font-size: 2.1em;
		line-height: 40px
	}
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .pulse-container {
	display: none
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .pulse-container .pin {
	width: 30px;
	height: 30px;
	border-radius: 50% 50% 50% 0;
	background: green;
	position: absolute;
	transform: rotate(-45deg);
	left: 50%;
	top: 50%;
	margin: -20px 0 0 -20px;
	z-index: 9999
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .pulse-container .pin:after {
	content: "";
	width: 14px;
	height: 14px;
	margin: 8px 0 0 8px;
	background: #fff;
	position: absolute;
	border-radius: 50%
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .pulse-container .pin.bounce {
	animation-name: bounce;
	animation-fill-mode: both;
	animation-duration: 1s
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .pulse-container .pulse {
	background: #f2f2f2;
	border-radius: 50%;
	height: 14px;
	width: 14px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 11px 0 0 -12px;
	transform: rotateX(55deg);
	z-index: 9998
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .pulse-container .pulse:after {
	content: "";
	border-radius: 50%;
	height: 40px;
	width: 40px;
	position: absolute;
	margin: -13px 0 0 -13px;
	animation: pulsate 1s ease-out;
	animation-iteration-count: infinite;
	opacity: 0;
	box-shadow: 0 0 1px 2px green;
	animation-delay: 1.1s
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right #vtexcarries-map {
	box-sizing: border-box;
	width: 100%;
	height: 420px
}
@media (max-width:680px) {
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right #vtexcarries-map {
		height: calc(100vh - 60px)
	}
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-footer {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	padding: 0 20px 20px;
	box-sizing: border-box
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-footer .info {
	visibility: hidden
}
@media (max-width:680px) {
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-footer .info {
		width: 100%;
		height: auto;
		overflow: hidden;
		background: #fff;
		padding: 10px;
		margin-bottom: 20px;
		visibility: visible;
		box-sizing: border-box
	}
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-footer .info .name {
		color: #000;
		font-weight: 600;
		font-size: 1em;
		line-height: 25px;
		margin: 0
	}
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-footer .info .address {
		color: grey;
		font-style: normal;
		line-height: normal;
		font-size: 1em;
		margin-bottom: 0
	}
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-footer .info .phones, .vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-footer .info .time {
		color: green;
		font-style: normal;
		font-size: 1em;
		margin-bottom: 0;
		line-height: 25px
	}
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-footer .info .phones [class^=phone-]:before, .vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-footer .info .time [class^=phone-]:before {
		content: "/";
		margin: 0 5px
	}
	.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-footer .info .phones .phone-0:before, .vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-footer .info .time .phone-0:before {
		content: " ";
		margin: 0
	}
}
.vtexcarries .vtexcarries-container .vtexcarries-content .vtexcarries-middle .vtexcarries-right .vtexcarries-footer .vtexcarries-button {
	width: 100%;
	height: 50px;
	border: none;
	background-color: green;
	border-bottom: 2px solid #004d00;
	border-radius: 2px;
	color: #FFF;
	font: 700 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	display: none;
	box-sizing: border-box
}